.Traca>*{
    display: inline-block;
}
.Traca{
    background-color: rgb(58, 154, 250);
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10%;
    width: 100%;
    height: 100%;
}

