.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
}

.App-header {
  background: #444444;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #202020); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}
.carta{
	display: inline-block;
    width: 50%;
  margin: 15px auto;
  
}
.carta  img{
  width:100%;
  max-width:400px;
}
.carta:hover img{
	transform: scale(0.97);
}
.centered{
  display: inline-block;
    width: 50%;
  margin: 50px auto;
  
}
.cartaGrande{
  background-color: rgb(36, 36, 36);
  padding: 15px;
  max-width: 46%;
  margin: 22px auto;
  color: #ffffff;


}
.card-body{
  color: black;
}
.cartaGrande:hover{
transform: scale(1.02);
 background-color: #333;
}

